<div class="row animated fadeIn fast">
   <div class="col-12">
      <div class="card m-0">
         <div class="card-body">

            <div class="input-group bootstrap-touchspin">

               <input
                  #elemSearch
                  (input)="search(elemSearch.value)"
                  class="form-control"
                  placeholder="Buscar usuario"
                  type="text"
               >

               <span
                  (click)="clearSearchValue()"
                  *ngIf="searchValue" class="input-group-btn animated fadeIn" data-original-title="Borrar búsqueda"
                  data-placement="bottom" data-toggle="tooltip">
                  <button class="btn btn-danger" type="button">
                     <i class="fa fa-close"></i>
                  </button>

               </span>

            </div>


         </div>
      </div>
   </div>
</div>

<div class="row">

   <div class="col-12">

      <div class="dataTables_wrapper d-flex pt-2 pb-2 justify-content-between align-items-center">

         <div *ngIf="records" class="dataTables_info">
            Mostrando <strong>{{offset + limit > records ? records : offset + limit}}</strong> de
            <strong>{{records}}</strong> registros
         </div>

         <app-pagination #paginationRef (setOffset)="setOffset($event)" [itemPerPage]="limit"
                         [total]="records"></app-pagination>

      </div>
   </div>

</div>

<app-loading [loading]="loading"></app-loading>

<div *ngIf="!loading && records" class="row animated fadeIn">

   <div class="col-12">

      <div class="card">

         <div class="card-body">


            <div class="table-responsive">

               <div class="dataTables_wrapper">

                  <table class="table vm no-th-brd pro-of-month">
                     <thead>
                     <tr>
                        <th>Avatar</th>
                        <th>Nambre</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Auth</th>
                        <th *ngIf="currentUser.role === ROLE_ADMIN" class="text-nowrap">Acciones</th>
                     </tr>
                     </thead>
                     <tbody>


                     <tr *ngFor="let user of users;">

                        <td (click)="openImageModal(user)" class="w50 cursor-pointer">
                           <span class="round">
                              <img [src]="user.img | getImage:'users'" class="img-fluid">
                           </span>
                        </td>

                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td class="w100">

                           <ng-container
                              *ngIf="
                              user.uid !== currentUser.uid &&
                              currentUser.role === ROLE_ADMIN"
                           >

                              <select (change)="changeUserRole(user)"
                                      [(ngModel)]="user.role"
                                      class="custom-select cursor-pointer"
                              >
                                 <option value="ADMIN_ROLE">Admin</option>
                                 <option value="USER_ROLE">User</option>
                              </select>

                           </ng-container>

                           <ng-container *ngIf="user.uid === currentUser.uid">
                              {{user.role}}
                           </ng-container>

                        </td>
                        <td class="w100">

                           <span *ngIf="user.google" class="label label-danger">Google</span>
                           <span *ngIf="!user.google" class="label label-info">Normal</span>

                        </td>
                        <td *ngIf="currentUser.role === ROLE_ADMIN" class="text-nowrap w100 text-center">
                           <a (click)="deleteUser(user)" *ngIf="user.uid !== currentUser.uid"
                              class="cursor-pointer" data-original-title="Borrar"
                              data-toggle="tooltip"> <i
                              class="fa fa-close text-danger"></i> </a>
                        </td>
                     </tr>

                     </tbody>
                  </table>

               </div>

            </div>

         </div>

      </div>

   </div>

</div>

<div *ngIf="records === 0 && !loading" class="row animated fadeIn">
   <div class="col-12">

      <div class="alert alert-info text-center">

         <p class="mb-0 ">No se han encontrado resultados para tu búsqueda</p>

      </div>

   </div>
</div>

<app-modal-change-image type="users" [refModel]="ref_Model_ModalImg" [openModal]="openModalImg" (onClose)="onModalImgChangeClose()"></app-modal-change-image>
