<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section class="login-register login-sidebar" id="wrapper"
         style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form

                (ngSubmit)="onSubmit()"
                [formGroup]="registerFrom"
                autocomplete="off"

                class="form-horizontal form-material"
                id="loginform"

            >

                <a class="text-center db" href="javascript:void(0)"><img alt="Home"
                                                                         src="../assets/images/logo-icon.png"/><br/><img
                    alt="Home" src="../assets/images/logo-text.png"/></a>
                <h3 class="box-title m-t-40 m-b-0">Register Now</h3><small>Create your account and enjoy</small>
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="name" placeholder="Name" type="text">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="email" placeholder="Email" type="text">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input autocomplete="off" class="form-control" formControlName="password" placeholder="Password"
                               type="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input autocomplete="off" class="form-control" formControlName="password2"
                               placeholder="Confirm Password"
                               type="password">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <input formControlName="terms" id="checkbox-signup" type="checkbox" required>
                            <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-danger">
                        <p *ngIf="fieldNotValid('name', 'required')">* El nombre es obligatorio</p>
                        <p *ngIf="fieldNotValid('name', 'minlength')">* El nombre debe de ser mayor a 3 letras</p>
                        <p *ngIf="fieldNotValid('email', 'required')">* El email es obligatorio</p>
                        <p *ngIf="fieldNotValid('password', 'required')">* La contraseña es obligatoria</p>
                        <p *ngIf="fromNotValid('passWordNotequal')">* Las contraseñas deben de ser iguales</p>
                        <p *ngIf="fieldNotValid('email', 'email')">* Debe de ser un email valido</p>
                        <p *ngIf="fieldNotValid('terms', 'checkbox')">* Debes aceptar los términos </p>
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                                type="submit">Sign
                            Up
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                        <div class="social">
                            <div id="goole-signin" class="row justify-content-md-center"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>¿Ya tienes una cuenta? <a class="text-info m-l-5" routerLink="/login"><b>Sign In</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
