<div class="row animated fadeIn fast">
   <div class="col-12">
      <div class="card m-0">
         <div class="card-body">

            <div class="input-group bootstrap-touchspin">

               <input
                  #elemSearch
                  (input)="search(elemSearch.value)"
                  class="form-control"
                  placeholder="Buscar medico"
                  type="text"
               >

               <span
                  (click)="clearSearchValue()"
                  *ngIf="searchValue" class="input-group-btn animated fadeIn" data-original-title="Borrar búsqueda"
                  data-placement="bottom" data-toggle="tooltip">
                  <button class="btn btn-danger" type="button">
                     <i class="fa fa-close"></i>
                  </button>

               </span>

            </div>


         </div>
      </div>
   </div>
</div>

<div class="row" >

   <div class="col-12">

      <div class="text-center mt-3" *ngIf="currentUser.role === ROLE_ADMIN">
         <button [routerLink]="['/dashboard/doctor/new']" class="btn btn-primary">Crear medico</button>
      </div>

      <div class="dataTables_wrapper d-flex pt-2 pb-2 justify-content-between align-items-center">

         <div *ngIf="records" class="dataTables_info">
            Mostrando <strong>{{offset + limit > records ? records : offset + limit}}</strong> de
            <strong>{{records}}</strong> registros
         </div>

         <app-pagination #paginationRef (setOffset)="setOffset($event)" [itemPerPage]="limit"
                         [total]="records"></app-pagination>

      </div>
   </div>

</div>

<app-loading [loading]="loading"></app-loading>

<div *ngIf="!loading && records" class="row animated fadeIn">

   <div class="col-12">

      <div class="card">

         <div class="card-body">


            <div class="table-responsive">

               <div class="dataTables_wrapper">

                  <table class="table vm no-th-brd pro-of-month">
                     <thead>
                     <tr>
                        <th>Foto</th>
                        <th>Nambre</th>
                        <th *ngIf="currentUser.role === ROLE_ADMIN" class="text-nowrap">Acciones</th>
                     </tr>
                     </thead>
                     <tbody>


                     <tr *ngFor="let medico of medicos;">

                        <td (click)="openImageModal(medico)" class="w50"
                            [ngClass]="{'cursor-pointer': currentUser.role === ROLE_ADMIN }">
                           <span class="round">
                              <img [src]="medico.img | getImage:'medicos'" class="img-fluid">
                           </span>
                        </td>

                        <td>{{medico.name}}</td>
                        <td *ngIf="currentUser.role === ROLE_ADMIN" class="text-nowrap w100 text-center">
                           <a [routerLink]="['/dashboard/doctor', medico.uid ]" class="cursor-pointer "
                              data-original-title="Editar"
                              data-toggle="tooltip" style="margin-right: 20px; color: #000"> <i
                              class="fa fa-pencil"></i> </a>
                           <a (click)="deleteMedico(medico)" class="cursor-pointer" data-original-title="Borrar"
                              data-toggle="tooltip"> <i
                              class="fa fa-close text-danger"></i> </a>
                        </td>
                     </tr>

                     </tbody>
                  </table>

               </div>

            </div>

         </div>

      </div>

   </div>

</div>

<div *ngIf="records === 0 && !loading" class="row animated fadeIn">
   <div class="col-12">

      <div class="alert alert-info text-center">

         <p class="mb-0 ">No se han encontrado resultados para tu búsqueda</p>

      </div>

   </div>
</div>

<app-modal-change-image (onClose)="onModalImgChangeClose()" [openModal]="openModalImg" [refModel]="ref_Model_ModalImg"
                        type="medicos"></app-modal-change-image>

